  div, dl, dd, dt {
    background: #A07DFF;
    color: #FFFFFF;
    padding: 100x;
    border-radius: 25px;
    border: none;
    text-align: center; 
    margin: 40px;
    padding: 20px;
    font-size: 150%;
    font-family: Calibri;
    size: 20px;
    line-height: 80%;
   }
   h1{
    font-family: Calibri;
    background: #7B62C1;
    color: #FFFFFF;
    padding: 100x;
    border-radius: 20px;
    text-align: center; 
    margin: 200px;
    padding: 20px;
   }
   h3{
    font-family: Calibri;
    background: #7B62C1;
    color: #FFFFFF;
    padding: 100x;
    border-radius: 20px;
    text-align: center; 
    margin: 200px;
    padding: 20px;
   }
   body {
    background: url(future-city-80s-styles.jpg) no-repeat;
    background-size: 100%;
    background-attachment: fixed;
   }
button {
    background: #A07DFF;
    color: #000000;
    padding: 10x;
    border-radius: 25px;
    text-align: center; 
    margin: 40px;
    padding: 10px;
    font-size: 11;
   }
a {
  text-decoration: none;
  color: white;
  display: block;
}
img {
   display: block;
}
tr:nth-child(odd) { 
  background: #009999;

}
tr:nth-child(even) { 
  background: #0000CC; 
}
tr:hover { 
  background: black;
}
td:hover { 
  background: white;
  color: black;
}
